.slot-header {
  padding: 15px;
  background: #0d6efd;
  color: white;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
}

.slot-header:hover {
  background: #084298;
}

.slot-card {
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}